<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Learning Angular Concepts...!</h1>
      <hr />

      <!--  TODO  :   To use as TAG selector -->
      <!-- <app-server></app-server> -->

      <!--  TODO  :   To use as CLASS selector -->
      <!-- <div class="app-server"></div> -->

      <!--  TODO  :   To use as ATTRIBUTE selector -->
      <!-- <div app-server></div> -->

      <!-- TODO   :   Data Binding Topics -->
      <!-- <app-data-binding></app-data-binding> -->

      <!-- TODO   :   Data Binding Topics -->
      <app-directives></app-directives>
    </div>
  </div>
</div>
